/*CSS Selectors*/

/*Element*/
li{

}

/*class*/
.hello{

}

/*ID*/
#name{

}

/*star*/
*{

}
/*Decendant Selector*/
li a {

}
/*Adjacent Selector*/
h4 + ul{

}
/*Attribute Selector*/
a[href="www.123.456.com"]{

}
/*nth of type*/
ul:nth-of-type(3){

}
/******************************************/
td.Workout {
   color:purple;  
}

td.Basketball{
	color: purple
}

td.Run {
	color:purple;
}

td.Cycling{
	color:purple;
}

td.Coding{
	color: green
}

td.Off{
	color: lightgrey
}
#quote {
	color: #f142f4;
}

/*body{
	background: url(http://cdn.wallpapersafari.com/12/93/8IeWUl.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}*/

body{
	background: pink;
}

h1{

}

caption {
   caption-side: top;
   /*border: 1px dashed brown;*/
   
}

a:link {
   text-decoration: none;
}

a:hover {
	color: red;
	cursor: pointer;
}
a:active{
	color: black;
}

